{% extends 'pages/prueba.html' %}


{% load static %}
{% load humanize %}



{% block content%}
    <div class="row">
        {% for b in bicicletas %}
        <div class="col-lg-3 mt-3">
            <div class="card">
                {% if user.is_authenticated %}
                <a>
                    {%else%}
                    <a id="alert">
                        {%endif%}
                        <img class="card-img-top placeholderimgup imgcat" src="{% static 'img/gifs/loading.gif' %}"
                            alt="Card image cap">
                        <img class="card-img-top imgcat placeholderimgdown" src="{{b.foto.url}}" alt="Card image cap"></a>
                    <div class="card-body">
                        <p class="card-text title">
                            <img src="{{b.user.perfil.get_image}}" alt="" class="imgperfil_post">
                            <a href="{% url 'perfil' b.user.username %}">{%if b.user.first_name == '' %}
                                {{ b.user.username}}
                                {%else%}
                                {{ b.user.first_name}}
                                {%endif%}
                            </a>
                        </p>
                        <p class="card-text title">{{b.timestamp|naturaltime}}</p>
                        <p class="card-text subtitleCard">Alquiler ${{b.precioalquiler}}</p>
                        <button id=alert2 class="btn btncat d-block mx-auto"><i class="far fa-heart"></i>
                            Añadir a favoritas</button>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
    