
{% if messages %}
{% for m in messages %}
        <script>
            Swal.fire({
                html: '</i><strong class="texterror">{{m}}</strong>',
                icon: 'error',
                width: '500px',
                padding: '8px',
                grow: false,
                backdrop: false,
                toast: true,
                position: 'bottom-end',
                allowOutsideClick: true,
                allowEscapeKey: true,
                AllowEnterkey:true,
                stopKeydownPropagation: false,
                showConfirmButton: false,
                showCancelButton: false,     
                showCloseButton:true,     
            });
        </script>
{% endfor %}
{%endif%}
