
{% if form.error_messages.invalid_login %}
							
    {% if request.method == 'POST' %}

        <script>
            Swal.fire({
                html: '</i><strong class="texterror">Por favor, introduzca un correo Electronico y clave correctos. Observe que ambos campos pueden ser sensibles a mayúsculas.</strong>',
                icon: 'warning',
                width: '500px',
                padding: '8px',
                grow: false,
                backdrop: false,
                toast: true,
                position: 'bottom-end',
                allowOutsideClick: true,
                allowEscapeKey: true,
                AllowEnterkey:true,
                stopKeydownPropagation: false,
                showConfirmButton: false,
                showCancelButton: false,     
                showCloseButton:true,     
            });
        </script>
                            
    {% endif %}
    

{% endif %}
