{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block title %}Biken | Inicio{%endblock%}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12">
            <div class="">
                <form class="form-inline position-absolute div_search" action="#">
                    <input class="input-search" type="text" placeholder="Buscar">
                    <div class="div-btn-search">
                        <button class="btn btn-search colorbiken" type="submit"><i class="fa fa-search"></i>
                        </button>
                    </div>

                </form>
            </div>

            <div id="demo" class="carousel carouselprincipal carousel-fade" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                </ul>


                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <img class="carouselprincipal carouselprincipal_img"
                            src='https://raw.githubusercontent.com/luisfernandocastro/APIWeb/master/images/banner1.jpg'
                            alt="Bicicleta1" height="500" width="100%">
                    </div>
                    <div class="carousel-item ">
                        <img class="carouselprincipal carouselprincipal_img"
                            src='https://raw.githubusercontent.com/luisfernandocastro/APIWeb/master/images/banner3.jpg'
                            alt="Bicicleta2" height="500" width="100%">
                    </div>
                    <div class="carousel-item ">
                        <img class="carouselprincipal carouselprincipal_img"
                            src='https://raw.githubusercontent.com/luisfernandocastro/APIWeb/master/images/banner2.jpg'
                            alt="Bicicleta3" height="500" width="100%">
                    </div>
                    <div class="carousel-item ">
                        <img class="carouselprincipal carouselprincipal_img"
                            src='https://raw.githubusercontent.com/luisfernandocastro/APIWeb/master/images/banner6.jpg'
                            alt="Bicicleta4" height="500" width="100%">
                    </div>
                </div>
                <!-- Left and right controls -->

            </div>
        </div>
    </div>

    <!-- 
        <div class="container">
            <div class="row"> -->
    <!-- <div class="col-lg-3 mt-5">
                    <p class="ml-4 titulo1">Filtrar por:</p>
                    <div class="container mt-2">
                        <button type="button" class="btn btn3 text-left" data-toggle="collapse"
                            data-target="#demo1">Categoria <i class="fas fa-chevron-down search"></i></button>
                        <div id="demo1" class="collapse flow">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Bicicletas de Montaña <span
                                            class="badge badge-primary badge-pill notifi">10</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Bicicletas de Ruta <span
                                            class="badge badge-primary badge-pill notifi">8</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Bicicletas urbanas <span
                                            class="badge badge-primary badge-pill notifi">12</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Bicicletas Plegables <span
                                            class="badge badge-primary badge-pill notifi">2</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Bicicletas Electricas <span
                                            class="badge badge-primary badge-pill notifi">1</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Bicicletas Infantiles<span
                                            class="badge badge-primary badge-pill notifi">11</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="container mt-4">
                        <button type="button" class="btn btn3 text-left" data-toggle="collapse"
                            data-target="#demo2">Marca <i class="fas fa-chevron-down search1"></i></button>
                        <div id="demo2" class="collapse flow">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Adidas<span
                                            class="badge badge-primary badge-pill notifi">2</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Allen<span
                                            class="badge badge-primary badge-pill notifi">3</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Bks<span
                                            class="badge badge-primary badge-pill notifi">3</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Canariam<span
                                            class="badge badge-primary badge-pill notifi">1</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Ciclo Motor<span
                                            class="badge badge-primary badge-pill notifi">12</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Cliff<span
                                            class="badge badge-primary badge-pill notifi">2</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Disney<span
                                            class="badge badge-primary badge-pill notifi">5</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">GW<span
                                            class="badge badge-primary badge-pill notifi">3</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Yakima<span
                                            class="badge badge-primary badge-pill notifi">1</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Zoom Sports<span
                                            class="badge badge-primary badge-pill notifi">12</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Topeak<span
                                            class="badge badge-primary badge-pill notifi">3</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Scott<span
                                            class="badge badge-primary badge-pill notifi">5</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Hot Wheels<span
                                            class="badge badge-primary badge-pill notifi">7</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Eurobike<span
                                            class="badge badge-primary badge-pill notifi">2</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Fratta<span
                                            class="badge badge-primary badge-pill notifi">2</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link filtro" href="#">Victory<span
                                            class="badge badge-primary badge-pill notifi">3</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="container mt-4">
                        <button type="button" class="btn btn3 text-left" data-toggle="collapse" data-target="#demo3">Rin
                            <i class="fas fa-chevron-down search2"></i></button>
                        <div id="demo3" class="collapse flow">
                            <form>
                                <div class="custom-control custom-radio filtro mt-2">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline1">12 pulgadas<span
                                            class="badge badge-primary badge-pill notifi">8</span></label>
                                </div>
                                <div class="custom-control custom-radio filtro mt-3">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">16 pulgadas<span
                                            class="badge badge-primary badge-pill notifi">5</span></label>
                                </div>
                                <div class="custom-control custom-radio filtro mt-3">
                                    <input type="radio" id="customRadioInline3" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline3">20 pulgadas<span
                                            class="badge badge-primary badge-pill notifi">10</span></label>
                                </div>
                                <div class="custom-control custom-radio filtro mt-3">
                                    <input type="radio" id="customRadioInline4" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline4">24 pulgadas<span
                                            class="badge badge-primary badge-pill notifi">7</span></label>
                                </div>
                                <div class="custom-control custom-radio filtro mt-3">
                                    <input type="radio" id="customRadioInline5" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline5">26 pulgadas<span
                                            class="badge badge-primary badge-pill notifi">4</span></label>
                                </div>
                                <div class="custom-control custom-radio filtro mt-3">
                                    <input type="radio" id="customRadioInline6" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline6">27 pulgadas<span
                                            class="badge badge-primary badge-pill notifi">9</span></label>
                                </div>
                                <div class="custom-control custom-radio filtro mt-3">
                                    <input type="radio" id="customRadioInline7" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline7">27.5 pulgadas<span
                                            class="badge badge-primary badge-pill notifi">1</span></label>
                                </div>
                                <div class="custom-control custom-radio filtro mt-3">
                                    <input type="radio" id="customRadioInline8" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline8">28 pulgadas<span
                                            class="badge badge-primary badge-pill notifi">6</span></label>
                                </div>
                                <div class="custom-control custom-radio filtro mt-3">
                                    <input type="radio" id="customRadioInline9" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline9">29 pulgadas<span
                                            class="badge badge-primary badge-pill notifi">2</span></label>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="container mt-4">
                        <button type="button" class="btn btn3 text-left" data-toggle="collapse"
                            data-target="#demo4">Precio de Alquiler <i class="fas fa-chevron-down search3"></i></button>
                        <div id="demo4" class="collapse flow">
                            <div class="custom-control custom-radio filtro mt-2">
                                <input type="radio" id="customRadioInline10" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline10">5.000$-10.000$<span
                                        class="badge badge-primary badge-pill notifi">12</span></label>
                            </div>
                            <div class="custom-control custom-radio filtro mt-3">
                                <input type="radio" id="customRadioInline11" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline11">10.000$-15.000$<span
                                        class="badge badge-primary badge-pill notifi">8</span></label>
                            </div>
                            <div class="custom-control custom-radio filtro mt-3">
                                <input type="radio" id="customRadioInline12" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline12">15.000$-20.000$<span
                                        class="badge badge-primary badge-pill notifi">5</span></label>
                            </div>
                            <div class="custom-control custom-radio filtro mt-3">
                                <input type="radio" id="customRadioInline13" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline13">20.000$-25.000$<span
                                        class="badge badge-primary badge-pill notifi">3</span></label>
                            </div>
                            <div class="custom-control custom-radio filtro mt-3">
                                <input type="radio" id="customRadioInline14" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline14">25.000$-30.000$<span
                                        class="badge badge-primary badge-pill notifi">2</span></label>
                            </div>
                            <div class="custom-control custom-radio filtro mt-3">
                                <input type="radio" id="customRadioInline15" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline15">30.000$-35.000$<span
                                        class="badge badge-primary badge-pill notifi">1</span></label>
                            </div>
                            <div class="custom-control custom-radio filtro mt-3">
                                <input type="radio" id="customRadioInline16" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline16">35.000$-40.000$<span
                                        class="badge badge-primary badge-pill notifi">1</span></label>
                            </div>
                            <div class="custom-control custom-radio filtro mt-3">
                                <input type="radio" id="customRadioInline17" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline17">Más de 40.000$<span
                                        class="badge badge-primary badge-pill notifi">0</span></label>
                            </div>
                        </div>
                    </div>
                </div> -->
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    {% for b in bicicletas %}
                    <div class="col-lg-3 mt-3">
                        <div class="card">
                            {% if user.is_authenticated %}
                            <a>
                                {%else%}
                                <a id="alert">
                                    {%endif%}
                                    <img class="card-img-top placeholderimgup imgcat" src="{% static 'img/gifs/loading.gif' %}"
                                        alt="Card image cap">
                                    <img class="card-img-top imgcat placeholderimgdown" src="{{b.foto.url}}" alt="Card image cap"></a>
                                <div class="card-body">
                                    <p class="card-text title">
                                        <img src="{{b.user.perfil.get_image}}" alt="" class="imgperfil_post">
                                        <a href="{% url 'perfil' b.user.username %}">{%if b.user.first_name == '' %}
                                            {{ b.user.username}}
                                            {%else%}
                                            {{ b.user.first_name}}
                                            {%endif%}
                                        </a>
                                    </p>
                                    <p class="card-text title">{{b.timestamp|naturaltime}}</p>
                                    <p class="card-text subtitleCard">Alquiler ${{b.precioalquiler}}</p>
                                    <button id=alert2 class="btn btncat d-block mx-auto"><i class="far fa-heart"></i>
                                        Añadir a favoritas</button>
                                </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
    </div>


</div>
{% endblock %}

<script>
    $("#alert,#alert3,#alert5,#alert7,#alert9,#alert11").click(function () {
        Swal.fire({
            title: '<span class="alerttit">No has iniciado Sesión</span>',
            text: 'Inicia Sesión para continuar con el alquiler',
            showConfirmButton: true,
            confirmButtonColor: '#2059BD',
            buttonsStyling: true,
            showCloseButton: true,
            closeButtonAriaLabel: 'cerrar alerta',
        }).then((result) => {
            if (result.value) {
                window.location.href = "{% url 'login' %}"
            }
        });
    });


    $("#alert2,#alert4,#alert6,#alert8,#alert10,#alert12").click(function () {
        Swal.fire({
            title: '<span class="alerttit">No has iniciado Sesión</span>',
            text: 'Inicia Sesión para continuar con el alquiler',
            icon: 'info',
            confirmButtonText: 'Ok',
            confirmButtonColor: '#2059BD',
            padding: '2rem',
            showConfirmButton: true,
            buttonsStyling: true,
            showCloseButton: true,
            closeButtonAriaLabel: 'cerrar alerta',

        }).then((result) => {
            if (result.value) {
                window.location.href = "{% url 'login' %}"
            }
        });
    });

</script>

