{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block title %}Biken | Inicio{%endblock%}
{% block content %}

<div class="container-fluid">
    {% include 'pages/components/carousel.html' %}

    <div class="container" id="myDiv">

        <div class="card-columns mt-5 mr-5 ml-5">
            {% for b in page %}
            <catalogo>
                <div class="card mb-5">
                    <a href="#" data-toggle="modal" data-target="#modalBici">
                        <img class="card-img-top placeholderimgup imgcat" src="{% static 'img/gifs/loading.gif' %}"
                            alt="Card image cap">
                        <img class="card-img-top imgcat placeholderimgdown" src="{{b.foto.url}}" alt="Card image cap"></a>
                    <div class="card-body">
                        <p class="card-text textnamecard font-weight-bold">
                            <img src="{{b.user.perfil.get_image}}" alt="" class="imgperfil_post">
                            <a href="{% url 'perfil' b.user.username %}">{%if b.user.first_name == '' %}
                                {{ b.user.username}}
                                {%else%}
                                {{ b.user.first_name}}
                                {%endif%}
                            </a>
                        </p>
    
                        <div style="border-radius: 50px;background-color:v1"></div>
                        <p class="card-text textcategoriacard text-capitalize font-weight-bold">{{b.categoria}}</p>
                        <p class="card-text texttiempocard">{{b.timestamp|naturaltime}}</p>
                        <p class="card-text textpreciocard">Alquiler <strong>${{b.precioalquiler}}</strong></p>
    
                        <div class="row">
                            <div class="col-lg-2">
                                <!-- circulo de color de la bicicleta de la card  -->
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                    viewBox="0 0 120 120">
                                    <circle cx="40" cy="45" r="40" fill="{{b.color}}" />
                                </svg>
                            </div>
                            <div class="col-lg-10">
                                <button id=alert2 class="btn btncatalogo d-block mx-auto"><i class="far fa-heart"></i>
                                    Añadir a favoritas</button>                                
                            </div>
                        </div>
                    </div>
                </div>
            </catalogo>
            {% endfor %}
        </div>
        
        {% include 'pages/components/modal.html' %}
    </div>


    {% include 'pages/components/pagination.html' %}
    


</div>
{% endblock %}

<script>
    $("#alert,#alert3,#alert5,#alert7,#alert9,#alert11").click(function () {
        Swal.fire({
            title: '<span class="alerttit">No has iniciado Sesión</span>',
            text: 'Inicia Sesión para continuar con el alquiler',
            showConfirmButton: true,
            confirmButtonColor: '#2059BD',
            buttonsStyling: true,
            showCloseButton: true,
            closeButtonAriaLabel: 'cerrar alerta',
        }).then((result) => {
            if (result.value) {
                window.location.href = "{% url 'login' %}"
            }
        });
    });


    $("#alert2,#alert4,#alert6,#alert8,#alert10,#alert12").click(function () {
        Swal.fire({
            title: '<span class="alerttit">No has iniciado Sesión</span>',
            text: 'Inicia Sesión para continuar con el alquiler',
            icon: 'info',
            confirmButtonText: 'Ok',
            confirmButtonColor: '#2059BD',
            padding: '2rem',
            showConfirmButton: true,
            buttonsStyling: true,
            showCloseButton: true,
            closeButtonAriaLabel: 'cerrar alerta',

        }).then((result) => {
            if (result.value) {
                window.location.href = "{% url 'login' %}"
            }
        });
    });

</script>