@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');


:root {
  --color-dark: #111111;
  --color-gris: #1f1f1f;
  --color-biken: #2059BD;
  --color-white: #ffffff;
  --color-bikenoscuro: #0C2247;

  --sombra-light: 10px 10px 8px 0px hsl(0, 0%, 90%);
  --sombra-dark: 10px 10px 8px 0px hsl(0,0,0.16);
}

body {
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}


/* tema dark */
body.dark{
  background-color: var(--color-dark);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}


nav {
  font-size: 14px;
}


.colorbiken {
  background-color: var(--color-biken);
}



.colorbikentext {
  color: var(--color-biken);
}


/* tema dark */
body.dark .colorbikentext{
  color: var(--color-white)
}
/*...........................................Styles index..........................................................................*/

.principal {
  background-image: url(../img/animations/wave.svg);
  /* background-position-y: bottom; */
  background-repeat: no-repeat;
  background-position-y: 250px;
  background-size: 200%;
  position: relative;
}

/*-------------------Pagina Bienvenida-------------------------*/

#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.icon-index {
  width: 75px;
}

.titulo {
  /*---------------Titulo de la pagina index----------*/
  font-size: 160px;
  color: var(--color-biken);
  font-family: perpetua;
  margin-top: 10%;
}

.subtitulo {
  /*---------------Subtitulo de la pagina index----------*/
  font-size: 22px;
  font-family: bold;
  margin-top: -11%;
  z-index: 2;
}


.welcome,
.welcome1 {
  text-align: center;
  position: relative;
  z-index: 2;
}


.bike {
  margin-left: 8%;
  width: 48%;
  position: fixed;
}

.contact {
  position: relative;
  z-index: 2;
  margin-right: 15px;
  font-size: 23px;
}

.contact1 {
  color: rgb(255, 255, 255);
}

.contact1:hover {
  color: #000000;
}


.btnindex,
.btncat {
  background-color: var(--color-biken);
  color: white;
  border-radius: 30px !important;
}

.btnindex {
  font-family: bold;
  position: relative;
  z-index: 10000;
}

.btnindex:hover {
  background-color: white;
  border: solid 1px var(--color-biken);
  color: var(--color-biken);
}

.btncat:hover {
  background-color: white;
  border: solid 1px var(--color-biken);
  color: var(--color-biken);
}

/* .................................imagen de peril del index................................ */
.img_user_profile_index {
  border-radius: 100%;
  border: solid 2px var(--color-bikenoscuro);
  height: 100px;
  width: 100px;
}


/*-----------------------------------------------cargar todas las paginas---------------------------------------*/

.loader-page {
  position: fixed;
  z-index: 25000;
  background: rgba(32, 89, 189, 0.2);
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease;
}

.loader-page::before {
  content: "";
  position: absolute;
  border: 2px solid rgb(32, 89, 189);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 4px solid rgb(255, 255, 255);
  border-top: 4px solid rgb(255, 255, 255);
  animation: rotarload 1s linear infinite;
  transform: rotate(0deg);
}

@keyframes rotarload {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.loader-page::after {
  content: "";
  position: absolute;
  border: 4px solid rgb(32, 89, 189, .8);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 2px solid rgba(246, 51, 9, 0);
  border-top: 2px solid rgba(246, 51, 9, 0);
  animation: rotarload 1s ease-out infinite;
  transform: rotate(0deg);
}

/*------------------------------------------------------ home page-----------------------------------------------------------*/



/*..................Estilos de la imagen de perfil de los usuarios...........*/

.img_perfilUser {
  background-color: red;
  border-radius: 30px;
  margin: 5px;
  width: 43px;
  height: 40px;
}

.nav__link_user {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: .5rem;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link_user:hover {
  background-color: var(--color-bikenoscuro);
  color: white;
}

/*........................end styles imagen perfil............................*/


/*-------------------------start styles card catalogo--------------------------------------*/

@media (min-width: 75em) {
  .card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

.title {
  font-size: 18px;
}

.textpreciocard {
  font-style: italic;
  text-align: end;
}

/* tema dark */
body.dark .textpreciocard{
  color: var(--color-white);
}



.textcategoriacard {
  font-size: 17px;
}

/* tema dark */
body.dark .textcategoriacard{
  color: var(--color-white);
}


.texttiempocard {
  line-height: 0;
  font-size: 14px;
}

/* tema dark */
body.dark .texttiempocard{
  color: var(--color-white);
}



.card-columns .card {
  border-radius: 30px;
  box-shadow: var(--sombra-light);
}

/*  tema dark */
body.dark .card {
  background-color: var(--color-gris);
  box-shadow: var(--sombra-dark);
}


.card-columns .card:hover {
  border: solid 1px rgba(32, 89, 189, 0.5);
}


a .card-img-top {
  border-radius: 30px;
  height: 20% !important;
}


.placeholderimgup {
  position: absolute;
}


.placeholderimgdown {
  position: relative;
}

.imgperfil_post {
  border-radius: 50px;
  height: 35px !important;
  width: 35px !important;
}

.imgcat {
  width: 100%;
}


/*-------------------------end styles card catalogo--------------------------------------*/

.collapse1 {
  color: #ffffff;
  font-size: 30px;
}

/*------------------------------buscar home page-------------------------------*/


.div_search {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.input-search {
  height: 55px;
  width: 80vh;
  outline: none;
  border: solid 1px white;
  border-radius: 30px;
  padding-left: 10px;
  text-transform: capitalize;
}

.div-btn-search {
  display: flex;
  justify-content: center;
}


.btn-search {
  color: white;
  font-size: 20px;
  z-index: 1000;
  position: absolute;
  top: 45%;
  margin-top: 3px;
  margin-right: 4%;
  border-radius: 30px;
}

.btn-search:hover {
  background-color: #d3d3d3;
  color: var(--color-biken);
}


/* ....................................................................screen editbicicleta...................................................  */


/* .dropzone {
  margin-top: 5px;
  width: 360px;
  background-color: rgba(225, 225, 225, 0.5) !important;
  border-radius: 5px;
  height: 140px;
  border: 3px dashed blue;
  padding-top: 150px;
}

.textForDropzone {
  pointer-events: none;
  padding: 10px;
  display: flex;
  color: black;
  margin-top: -110px;
  z-index: 10000;
} */


/* ....................................................................screen editbicicleta...................................................  */

/*----------------------------------------end buscar homepage-------------------------------------------*/


.container1 {
  overflow: hidden;
  /*------No se sale del contenedor----*/
}




.notifi {
  margin-left: 10px;
}

.btn3 {
  background-color: white;
  border: 1px solid white;
  color: var(--color-biken);
  margin-left: 10%;
  width: 200px;
}

.btn3:hover {
  background-color: var(--color-biken);
  color: #ffffff;
}

.titulo1 {
  font-weight: 500;
}

.filtro {
  width: 230px;
  margin-left: 10%;
  color: #000000;
}

.flow {
  overflow: auto;
  height: 250px;
}


.search1 {
  margin-left: 112px;
}

.search2 {
  margin-left: 130px;
}

.search3 {
  margin-left: 31.2px;
}

.page-link {
  color: var(--color-biken);
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  color: var(--color-biken);
  text-decoration: none;
  border: 1px solid #CCCFD4;
  border-left-width: 0;
}

.pagination a:hover,
.pagination .active a {
  background-color: var(--color-biken);
  color: #ffffff;
}

.pagination li:first-child a {
  border-left-width: 1px;
}


/*----------------------------------jumbotron paginas--------------------*/

.sociales {
  display: flex;
  justify-content: space-around;
}

.sociales a {
  font-size: 20px;
  color: white;
}

.logo {
  margin-bottom: 6px;
  width: 28px;
  height: 28px;
}

.logo:hover {
  background-color: red;
  border-radius: 50%;
}

.sociales a:hover {
  color: #000000;
}



.anim {
  margin-top: 25%;
}


.pushbar {
  background-color: rgba(32, 89, 189, 0.7);
}

.btnclose {
  margin-top: 1%;
  margin-left: 85%;
  color: #ffffff;
  border-radius: 50%;
}

.btnclose:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(32, 89, 189);
  border-radius: 50%;
}

.navbar2 {
  color: rgba(255, 255, 255);
  margin-top: 15%;
}

.navbar2:hover {
  color: rgb(0, 0, 0);
}

.navbar1 {
  margin-top: 30%;
  padding: 15%;
}

.sociales1 {
  margin-left: 35%;
  padding: 10%;
}

.facebook {
  padding: 5px;
}

.alerttit {
  color: var(--color-biken);
}




.dropleft {
  color: white;
}

.items {
  color: var(--color-biken);
}

.items:hover {
  background-color: var(--color-biken);
  color: #ffff;
  border: solid 1px #ffff;

}

.menuser {
  padding: 0;
}

.content-class {
  padding: 0 10px !important;
}

.user-content {
  padding: 10px;
  width: 190px;
  margin-top: 13%;
  margin-right: 10px;
}

.bg-menuuser {
  background-color: #ffff;
}

.item-user {
  font-size: 12px;
  background-color: #ffff;
  color: var(--color-biken);
}

.item-user:hover {
  text-decoration: none;
  background: #F1F1F1;
}


.icon2 {
  padding-right: 10px;
  color: rgba(2, 89, 189, 0.4);
  font-size: 17px;
}


.iconf {
  margin-left: 2px;
}

.patners {
  font-size: 15px;
}

.patners1 {
  color: var(--color-biken);
}

.cars {
  font-size: 15px;
  margin-top: 1px;
}

.cars:hover {
  color: #518DF6;
}

.title-manager {
  font-size: 30px;
  color: #ffffff;
  font-family: perpetua;
}

.recien-admin {
  color: var(--color-biken);
  font-size: 30px;
}

.persona {
  background-color: rgba(32, 89, 189, 0.6);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.persona:hover {
  opacity: 0.6;
  cursor: pointer;
}

.bike-admin {
  width: 350px;
  height: 250px;
  margin-left: 20%;
}

.nav-admin {
  margin-top: 10%;
}

.nav-admin1 {
  color: #C4C3C0;
  margin-top: 20px;
}

.nav-admin1:hover {
  color: #ffffff;
}

.btn-plus {
  background-color: var(--color-biken);
  color: #ffff;
}

.btn-plus:hover {
  background-color: #ffff;
  color: var(--color-biken);
  border: solid 1px var(--color-biken);
}

.title-tab {
  margin-top: 90px;
  color: rgb(32, 89, 189);
}

.tabla {
  overflow: auto;
  height: 500px;
}

th,
.num {
  color: rgb(32, 89, 189);
}

.persona-reg {
  background-color: rgba(32, 89, 189, 0.6);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.card-managerl {
  height: 1000px;
}



.card-body1 {
  border-left: solid 3px var(--color-biken) !important;
}

.card-body2 {
  border-left: solid 3px #20BD3F !important;
}

.card-body3 {
  border-left: solid 3px #0CAAAC !important;
}

.card-body4 {
  border-left: solid 3px var(--color-biken) !important;
}

.text-uppercase {
  font-size: 10px;
}

.card-body-1 {
  height: 343px;
}

.card-body-2 {
  height: 350px;
}

.chart-area {
  height: 300px;
}

.chart-pie {
  height: 250px;
}

.bgnav-admin {
  background-color: rgba(2, 89, 189, 0.8);
  font-size: 14px;
}

.actived {
  color: #ffffff;
}

.mt-box {
  margin-top: 150px;
  margin-left: 20%;
}

.mt-box2 {
  margin-top: 170px;
}

.icons-nav-admin {
  font-size: 20px;
}

.card-body-3 {
  height: 330px;
}

.alerttit1 {
  font-family: perpetua;
  color: rgb(2, 89, 189);
  font-size: 40px;
}

input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 14px;
}

textarea::-webkit-input-placeholder {
  font-style: italic;
  font-size: 14px;
}


.placeholder1 {
  font-style: italic;
  font-size: 14px;
  color: gray;
}


/* .container-com {
  overflow: hidden; ------No se sale del contenedor----
} */

.container-com1 {
  border-color: transparent;
  background-color: rgba(32, 89, 189, 0.3);

}

.bg-comunity {
  background-image: url(../img/imgs_login/bg-com2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-comunity::before {
  content: '';
  background: inherit;
  position: fixed;
  width: 100%;
  height: 100%;
  filter: blur(6px);
  transform: scale(1.4, 1.1);
}



.form-com {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}

.title-com {
  margin-top: 10px;
  color: var(--color-biken);
  font-family: perpetua;
  font-size: 40px;
}


.title-com2 {
  color: rgb(255, 255, 255);
  font-size: 15px;
}


.img-comunity {
  width: 100%;
  height: auto;
}

@supports(object-fit: cover) {
  .img-comunity {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    /*left: 0;*/
  }
}


.title-com3 {
  font-style: italic;
  margin-top: 50px;
}

.hyper-com {
  color: #00FBFF;
}


.hyper-com:hover {
  text-decoration: none;
  color: #84AEF7;
}

.btn-com {
  margin-top: 30px;
  background-color: transparent;
  border: solid 1px #ffff;
}

.btn-com:hover {
  background-color: var(--color-biken);
}


.minh-100 {
  height: 92.8vh;
}

.contact1-com {
  color: var(--color-biken);
}

.contact1-com:hover {
  color: #84AEF7;
}

.collapse1-com {
  color: var(--color-biken);
}


.contenedor img {
  position: absolute;
  transition: opacity 1.5s ease-in-out;
}

.contenedor img.top:hover {
  opacity: 0;
}


.alerttit2 {
  font-size: 14px;
  font-style: italic;
}

.bg-nav1 {
  background-image: url(../img/svg/bg-com2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
}


.text-registro {
  font-size: 14px;
}


.carouselprincipal {
  border-bottom-left-radius: 30px;
  border-end-end-radius: 30px;
  box-shadow: var(--sombra-light);
}

/* tema dark */
body.dark .carouselprincipal{
  box-shadow: var(--sombra-dark);
}



/*--------------------------------------------------------------------------estilos footer-----------------------------------------------*/

.footerInf {
  padding: 20px;
  border-radius: 30px;
  box-shadow: var(--sombra-light);
  text-align: center;
  background-color: var(--color-bikenoscuro);
  background-image: url(../img/iconsBiken/icono3.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 25px;
}


/* tema dark */
body.dark .jumbotrom{
  box-shadow: var(--sombra-dark);
  background-color: var(--color-gris);
}


.text-footer {
  line-height: 70%;
  padding-top: 15px;
  font-weight: bold;
  font-size: 70px;
  font-family: 'Zeyada', cursive;
  color: var(--color-biken);
}

.text-footerCopy {
  line-height: 0;

}


.titlefooter {
  text-align: start;
}

.subtitlefooter {
  font-size: 15px;
  color: #aaaaaa;
  line-height: 90%;
  text-align: start;
}

.subtitlefooter:hover {
  color: #ffffff;
}

.iconfooter {
  font-size: 30px;
  color: #ffffff;
}

.iconfooter:hover {
  color: #aaaaaa;
}


/*---------------------------------------------------------------end estilos footer------------------------------------------------------*/

/*-----------------------------------------Fondos de las paginas -------------------------------------------------------------------*/
.bgimg_upload {
  background-image: url(../img/animations/bike4.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: right;
}

.bgimg_registro {
  background-image: url(../img/animations/bike2.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: right;
}

.bgimg_paginamensaje {
  background-image: url(../img/animations/bike3.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: right;
}



/*-----------------------------------------end styles Fondos de las paginas --------------------------------------------------------*/

/*--------------------------------------------------------estilos pagina quienes somos------------------------------------------------*/

.banner_qs {
  width: 60%;
  height: 20%;
}

body.dark .textoquienessomos{
  color: var(--color-white);
}


/*--------------------------------------------------------end styles pagina quienes somos--------------------------------------------*/

/*------------------------------------------------------------start styles Screen Profile--------------------------------------------------*/


.info_user {
  margin: 30px 0 30px 0;
}

.username_user_profile {
  line-height: 0;
  font-size: 20px;
  color: white;
}


.img_user_profile {
  margin-bottom: 0;
  height: 140px;
  width: 140px;
  border-radius: 100%;
}

.row .col-lg-3 .card {
  border-radius: 30px;
  box-shadow: var(--sombra-light);
}

/* tema dark */
body.dark .row .col-lg-3 .card {
  box-shadow: var(--sombra-dark);
}

/* tema dark */
body.dark .colortextcount-card , body.dark .colortextdate-card{
  color: #84AEF7;
}


.iconos-admin {
  color: rgba(2, 89, 189, 0.4);
}

/* tema dark */
body.dark .iconos-admin{
  color: #C4C3C0
}


/*------------------------------------------------------------start styles Screen Profile--------------------------------------------------*/

/*------------------------------------------------------------start styles Screen UploadBike-------------------------------------------------*/

.tituloUploadBike{

  font-size: 28px; 
  font-family:cursive; 
  text-align: center; 
  color :rgb(23, 75, 193 )
}



.subtituloUploadBike{
  text-align: center;
}


/* tema dark */
body.dark .subtituloUploadBike{
  color: var(--color-white);
}


/*------------------------------------------------------------end styles Screen UploadBike--------------------------------------------------*/




/*--------------------------------------------------------media QuerysScreens-------------------------------------------------------------------*/

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 800px) {

  /* ...............................start styles  pantalla menor a 800px en el index........................ */

  .principal {
    background-image: none;
  }

  /* ...............................end styles  pantalla menor a 800px en el index........................ */

  /* ...............................start styles  pantalla menor a 800px en el Homepage........................ */
  .input-search {
    width: 60vh;
  }

  .div-btn-search {
    width: 60vh;
  }

  .btn-search {
    top: 23%;
    margin-top: 3px;
    margin-left: 55%;
  }

  /* ...............................end styles  pantalla menor a 800px en el Homepage........................ */

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  /* ...............................start styles pantalla menor a 600px en el Index........................ */
  .titulo {
    margin-top: 30%;
    font-size: 90px;
  }


  .div-bike {
    margin-top: 20%;
    position: fixed;
    filter: blur(9px);
  }


  .bike {
    margin-left: 0;
    width: 100%;
  }

  .icon-index {
    width: 45px;
    margin-left: -15px;
  }

  .contact {
    margin-right: -15px;
  }

  .principal {
    background-image: none;
  }

  /* ...............................end styles pantalla menor a 600px en el Index........................ */

  /* ...............................start styles  pantalla menor a 600px en el Homepage........................ */

  .carouselprincipal {
    height: 200px;
  }


  .input-search {
    width: 40vh;
  }


  .div-btn-search {
    width: 40vh;
  }

  .btn-search {
    top: 19%;
    margin-top: 3px;
    margin-left: 65%;
    border-radius: 30px;
  }

  /* ...............................start styles  pantalla menor a 600px en el Homepage-barra lateral........................ */

  .nav__link_user {
    color: var(--color-biken);
  }

  /* ...............................end styles  pantalla menor a 600px en el Homepage-barra lateral ........................ */

  /* ...............................end styles  pantalla menor a 600px en el Homepage........................ */


}




/* ----------------------------------------------------------------modo nocturno -------------------------------------*/


/* ...........................Styles modo nocturno de inputs de los formularios................................... */

body.dark label{
  color: #aaaaaa;
}


body.dark .inputs_forms{
  background-color: var(--color-grey);
  color: rgb(238, 238, 238);
}

body.dark .custom-select{
  background-color: var(--color-gris);
  color: var(--color-white);
}


body.dark .custom-file-label{
  background-color: var(--color-gris);
  color: var(--color-white);
}
/* ...........................end Styles modo nocturno de inputs de los formularios................................... */

/* ------------------------------start styles switch(boton de cambio de tema)------------------ */
.switch {
  background: #4983e7;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}


.switch.active {
  background: black;
}


.switch span {
  display: block;
  background: none;
  color: orange;
}

.switch.active span{
  color: #fff;

}

.icon_modnight {
  font-size: 1.5rem;
  margin-right: 7rem;
  padding-top: .2rem;
}


/* ------------------------------end styles switch------------------ */