.inputs_forms {
    font-family: 'Quicksand';
    color: #2059BD;
    background-color: #FBFBFE;
    border-radius: 30px !important;
    border: solid 1px #2059BD !important;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}


.inputs_forms_loginadmin {
    border-radius: 10px !important;
    border: solid 1px #0C2247 !important;
    background-color: #FBFBFE;
}


.form-control:focus {
    color: #2059BD;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(32, 89, 189, 0.6);
}



.inputcolor_form {
    padding: 1px !important;
    border: solid 1px #2059BD !important;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}

.inputs_forms_number {
    border-bottom-left-radius: 30px !important;
    border-top-left-radius: 30px;
    border-top: solid 1px #2059BD !important;
    border-bottom: solid 1px #2059BD !important;
    border-left: solid 1px #2059BD !important;
    border-right: none;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}


.input-group-text {
    /* background-color: #2059BD; */
    border-bottom-right-radius: 30px !important;
    border-top-right-radius: 30px;
    border-top: solid 1px #2059BD !important;
    border-bottom: solid 1px #2059BD !important;
    border-right: solid 1px #2059BD !important;
    border-left: none;
}

/* tema dark */
body.dark .input-group-text {
    background-color: #2A3B47;
    color: #C8CDD0;
}


.helptext_input-number {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}


body.dark .helptext_input-number {
    color: #C8CDD0;
}


@media screen and (max-width: 800px) {

    .input-search_nav {
        -webkit-transition: .5s ease all;
        transition: .5s ease all;
        font-size: 15px;
        color: white;
        background-color: #4983e7;
        width: 120px;
        height: 35px;
        outline: none;
        border: solid 1px #2059BD;
        border-radius: 5px;
        padding-left: 10px;
    }

    .input-search_nav::placeholder {
        color: #C8CDD0;
    }
}




.form-check-input{
    background-color: red !important;
}


/* validaciones --------------------*/

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

/* ------------------------------------- */


.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}