.inputs_forms {
    border-radius: 30px !important;
    border: solid 1px #2059BD !important;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}

.inputcolor_form {
    padding: 1px !important;
    border: solid 1px #2059BD !important;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}

.inputs_forms_number{
    border-bottom-left-radius: 30px !important;
    border-top-left-radius:  30px;
    border-top:  solid 1px #2059BD !important;
    border-bottom: solid 1px #2059BD !important;
    border-left: solid 1px #2059BD !important;
    border-right:none;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}


.input-group-text{
    /* background-color: #2059BD; */
    border-bottom-right-radius: 30px !important;
    border-top-right-radius:  30px;
    border-top:  solid 1px #2059BD !important;
    border-bottom: solid 1px #2059BD !important;
    border-right: solid 1px #2059BD !important;
    border-left: none;
}

/* tema dark */
body.dark .input-group-text{
    background-color: #2A3B47;
    color: #C8CDD0;
}


.helptext_input-number{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}


body.dark .helptext_input-number{
    color: #C8CDD0;
}


@media screen and (max-width: 800px) {

    .input-search_nav {
        -webkit-transition: .5s ease all;
        transition: .5s ease all;
        font-size: 15px;
        color: white;
        background-color: #4983e7;
        width: 120px;
        height: 35px;
        -webkit-transition: .5s ease all;
        transition: .5s ease all;
        outline: none;
        border: solid 1px #2059BD;
        border-radius: 5px;
        padding-left: 10px;
    }

    .input-search_nav::placeholder {
        color: #C8CDD0;
    }
}