{% load static %}
<div class="modal-dialog" role="document">
    <div class="modal-content modal-content-home">
        <div class="modal-body modal-body-home">

            <div class="card-columns contratos mt-3">
                
                {% if message %}
                    {% for message in message %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <i class="fas fa-file-pdf d-flex justify-content-center profile-iconpdf"></i>
                                    </div>
                                    <div class="col-lg-10 colorblack">
                                        <h6>Tipo:</h6> {{message.tipo}}
                                        <strong>Nombre: </strong> {{message.name}} <br>
                                        <strong>Email de contacto: </strong> {{message.email}}
                                        <strong>Asunto: </strong> {{message.asunto}}<br>
                                        <p>{{message.mensaje}}</p>
                                        <h5>Fecha:</h5> {{message.datetimemsg}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %} 
                {% else %}

                <!-- <img src="{% static '/img/animations/anim2.svg' %}"> -->
                    <img src="{% static '/img/animations/anim_notlfy.svg' %}" class="img-fluid"> 
                    
                    <strong class="msg_notify d-flex justify-content-center font-weight-bold h4">
                        No tienes mensajes {{request.user.first_name}}
                    </strong>
                {% endif %}
                    

                
            </div>
        </div>
        <div class="modal-footer modal-footer-home">
            <button type="button" class="btn btn-secondary btn_biken_cancel font-weight-bold"
                data-dismiss="modal">Ok</button>
        </div>
    </div>
</div>