{% load static %}
<div class="modal-dialog" role="document">
    <div class="modal-content modal-content-home">
        <div class="modal-body modal-body-home">

            <div class="card-columns contratos mt-3">
                
                {% if message %}
                    {% for message in message %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                   
                                    <div class="col-lg-10 colorblack">
                                        <strong>Tipo:</strong>
                                        {%if message.tipo == 0 %}Duda{%endif %}
                                        {%if message.tipo == 1 %}Queja{%endif %}
                                        {%if message.tipo == 2 %}Reclamo{%endif %}                      
                                        {%if message.tipo == 3 %}Denuncia{%endif %}
                                        {%if message.tipo == 4 %}Sugerencia{%endif %}
                                        {%if message.tipo == 5 %}Felicitación{%endif %}
                                        <br>
                                        <strong>Nombre: </strong> {{message.name}} <br>
                                        <strong>Email de contacto: </strong> {{message.email}}<br>
                                        <strong>Asunto: </strong> {{message.asunto}}<br>
                                        <strong class="colorbikentext">Mensaje:</strong><p>{{message.mensaje}}</p>
                                        <strong>Fecha:</strong> {{message.datetimemsg}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %} 
                {% else %}

                <!-- <img src="{% static '/img/animations/anim2.svg' %}"> -->
                    <img src="{% static '/img/animations/anim_notlfy.svg' %}" class="img-fluid"> 
                    
                    <strong class="msg_notify d-flex justify-content-center font-weight-bold h4">
                        No tienes mensajes {{request.user.first_name}}
                    </strong>
                {% endif %}
                    

                
            </div>
        </div>
        <div class="modal-footer modal-footer-home">
            <button type="button" class="btn btn-secondary btn_biken_cancel font-weight-bold"
                data-dismiss="modal">Ok</button>
        </div>
    </div>
</div>