@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

/*===== VARIABLES CSS ====*/

/*===== Colores =====*/
:root {
  --first-color: #2059BD;
  --second-color: #ffffff;
  --three-color: #000000;
  --white-color: #FBFBFE;
}

/*===== Fuente y tipografia =====*/
:root {
  --small-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  :root {
    --small-font-size: 0.938rem;
  }
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* position: relative; */
  margin: 0;
  padding: 0rem 0 0 0rem;
  -webkit-transition: .5s;
  transition: .5s;
}




h1 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}

/*=====  NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 65px;
  height: 100vh;
  background-color: var(--first-color);
  padding: 1.25rem .5rem 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: var(--z-fixed);
}

/* tema dark */
body.dark .l-navbar {
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  background-color: #0C2247;
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0rem;

}

.nav__logo-icon {
  margin-right: .8rem;
}

.nav__logo-text {
  color: var(--white-color);
  font-weight: 700;
  font-size: 35px;
  font-family: perpetua;
  ;
}

.nav__toggle {
  position: absolute;
  top: 1.10rem;
  right: -.6rem;
  width: 25px;
  height: 25px;
  background-color: var(--three-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}





.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  color: var(--white-color);
  -webkit-transition: .3s;
  transition: .3s;
}

/* .............................start styles input search en la navbar........................... */
.nav__link-search {
  display: none;

}

/* .............................end styles input search en la navbar........................... */


.nav__link:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-left: .2rem;
}

.nav__icon:hover {
  animation: pulse;
  animation-duration: 2s;
}


.nav__icon-home {
  font-size: 1.5rem;
  margin-right: .8rem;
  margin-left: .1rem;
}


.nav__icon-notify{
  font-size: 1.5rem;
  margin-right: .8rem;
  margin-left: .1rem;
}

.nav__text {
  font-weight: 700;
}

/*Show menu*/
.shownav {
  width: 175px;
}

/*Rotate toggle*/
.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

/*Active links menu*/
.active {
  background-color: var(--second-color);
  color: var(--first-color);
}

.activeItemProfile {
  background-color: #0C2247;
  color: red;
}

/*Add padding body*/
.expander {
  padding: 0 0 0 11rem;
  -webkit-transition: .5s;
  transition: .5s;
}


.imgIcon {
  height: 30px;
  width: 30px;
}



/*............................................mediaQuerys..................................*/

@media screen and (max-width: 600px) {
  body {
    padding: 0rem 0 0 3rem;
  }


  .l-navbar {
    background-color: var(--white-color);
  }

  .nav__logo-text {
    color: #2559BD;
  }

  .active {
    background-color: var(--first-color);
    color: --first-color;
  }


  .nav__link {
    color: grey;
  }


  .nav__link:hover {
    background-color: var(--first-color);
    color: var(--white-color);
  }

  .nav__logo-icon {
    background-color: #2059BD;
    border-radius: 10px;
  }

  .nav__icon-search {
    color: red ;
  }

}


@media screen and (max-width: 800px) {


  /* .............................start styles input search en la navbar........................... */
  .nav__link-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    -webkit-transition: .3s;
    transition: .3s;
  }


  .nav__icon-search {
    font-weight: bold;
    color: orange;
    font-size: 1.9rem;
    margin-right: 1rem;
    margin-left: .01rem;
  }


  .nav__icon-search :hover {
    color: rgb(228, 228, 228);
  }

  /* .............................end styles input search en la navbar........................... */

}



@media screen and (max-width: 1100px) {
  body {
    padding: 0rem 0 0 5rem;
  }
}