{% extends 'root.html' %}
{% load widget_tweaks %}
{% load static %}



{% block title %}
    Configuración | Cambio de contraseña 
{% endblock title %}
    

{% block content %}
    <div class="container mt-5" >
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 mt-5">
                <form method="post" id="formulariochangepassword">
                    {% csrf_token %}

                    <!-- {{ form }} -->
                    <div class="form-group mt-5">
                        <label for="user">Contraseña antigua</label>
                        {% render_field form.old_password class="form-control inputs_forms" type="password" placeholder="Contraseña antigua"%}
                        
                        {% if form.old_password.errors %}
                            
                        <span class="text_error-changepass">Su contraseña antigua es incorrecta. Por favor, vuelva a introducirla.</span>
                        {% endif %}
                            
                    </div>


                    <!-- form grupo contraseña -->
                    <div class="formulario__grupo" id="grupo__new_password1">
                        <label for="new_password1" class="formulario__label mt-3">Contraseña nueva</label>
                        <div class="formulario__grupo-input">
                            {% render_field form.new_password1 class="form-control inputs_forms" type="password" placeholder="Contraseña nueva" id="new_password1" name="new_password1"%}
                        </div>
                        <p class="formulario__input-error">La contraseña debe ser mayor a 8 caracteres</p>
                    </div>

                    <div class="helptext_changepass font-italic mb-4 mt-4">
                        
                        <li>&bull; Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                        <li>&bull; Su contraseña debe contener al menos 8 caracteres.</li> 
                        <li>&bull; Su contraseña no puede ser una clave utilizada comúnmente.</li> 
                        <li>&bull; Su contraseña no puede ser completamente numérica.</li> 
    
                    </div>

                    <!-- form grupo repetir contraseña -->


                    <div class="formulario__grupo" id="grupo__new_password2">
                        <label for="new_password2" class="formulario__label mt-3">Contraseña nueva(confirmación)</label>
                        <div class="formulario__grupo-input">
                            {% render_field form.new_password2  class="form-control inputs_forms" type="password" placeholder="Repite tu contraseña nueva" id="new_password2" name="new_password2"%}
                        </div>
                        <p class="formulario__input-error">Las contraseñas no coinciden</p>
                    </div>


                    <div class="row d-flex justify-content-center mt-5">
                        <div class="co-lg-6 mr-5">
                            <a class="btn btn-secondary btn_biken_cancel" href="{% url 'settings' %}">Cancelar</a>
                        </div>
                        <div class="co-lg-6">                            
                            <button type="submit" class="btn btn_biken_success">Guardar cambios</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>


{% include 'pages/components/messages/messages_form_changepass.html' %}

{% endblock content %}


{% block script %}
    <script src='{% static "/js/validations/formulariochangepassword.js" %}' type="text/javascript"></script>
{% endblock script %}






