{% extends 'base.html' %}

{% load static %}


{% block classbody %}

<body class="bgimg_editBike" id="body">{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% load crispy_forms_tags %}
        <div class="col-lg-5">
            <div class="">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>
        </div>
        <div class="col-lg-7">
        </div>

    </div>

</div>

{% endblock content %}