{% extends 'root.html' %}
{% load static %}
{% load widget_tweaks %}



{% block title %}
    Configuración | Email
{% endblock title %}
    

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mt-5 ">
                <div class="form-email">
                    <form action="" method="POST" class="">
                        {% csrf_token %}
                        <!-- {{form}} -->
                        <div class="form-group">
                            <label for="user">Correo Electrónico</label>
                            {% render_field form.email class="form-control inputs_forms" type="email" placeholder="Email"%}
                        </div>
            
                        <div class="row d-flex justify-content-center mt-5">
                            <div class="co-lg-6 mr-5">
                                <a class="btn btn-secondary btn_biken_cancel" href="{% url 'settings' %}">Cancelar</a>
                            </div>
                            <div class="co-lg-6">                            
                                <button type="submit" class="btn btn_biken_success">Actualizar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-7">
                <img src="{% static 'img/animations/anim_email.svg' %}" alt="">
            </div>
        </div>
    </div>
    {% include 'pages/components/messages/messages_forms.html' %}
{% endblock content %}
    