{% extends 'base.html' %}

{% load static %}
{% load humanize %}


{% block content %}
<div class="container">
    <div class="row ">
        <div class="col-lg-12 d-flex justify-content-center ">


            {% if request.user.username == user.username %}
            <!-- icono de configuracion  e edicion de perfil  -->
            <a href="{% url 'editprofile' %}">
                <span class="iconify iconsettings_profile " data-icon="fluent:edit-settings-24-filled"
                    data-inline="false"></span>
            </a>
            <!-- ----------- -->
            {% endif %}


            <div class="banner-profile" style="
                        background: url('{{user.perfil.get_imagePortada}}') no-repeat;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        border-bottom-right-radius: 30px;
                        border-bottom-left-radius: 30px;
                        background-position-y: top;
                        background-size: 100% 100%;
                        height: 100%;
                        width: 100%;">
                <div class="info_user">
                    <div class="container-fluid  d-flex justify-content-center">
                        <img src="{{user.perfil.get_image}}" class="img_user_profile">
                    </div>
                    <div
                        class="container-fluid name_user_profile d-flex justify-content-center text-light text-capitalize mb-3">
                        <h1>{{user.first_name}} {{user.last_name}}<br></h1>
                    </div>
                    <div class="container-fluid  d-flex justify-content-center">
                        <h1 class="username_user_profile">@{{user.username}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-12 mt-5">
                <div class="container-fluid">
                    <div class="row">

                        {% if user.miBici.count > 0 %}

                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body card-body4">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold colorbikentext text-uppercase mb-1"
                                                style="font-size: 15px;">
                                                {% if request.user.username == user.username%}
                                                Mis Bicicletas Subidas
                                                {%else%}
                                                Bicicletas subidas de {{user.first_name}}
                                                {%endif%}
                                            </div>
                                            <div class="h2 mb-0  font-weight-bold text-gray-800 colortextcount-card">
                                                {{user.miBici.count}}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-bicycle fa-3x iconos-admin"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}

                        {%endif%}
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body card-body3">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold colorbikentext text-uppercase mb-3"
                                                style="font-size: 15px;">
                                                {% if request.user.username == user.username%}

                                                        {% if user.date_joined|length > 3 %}
                                                        Eres parte de Biken desde el

                                                        {% else %}

                                                        Eres parte de Biken desde
                                                        {% endif %}

                                
                                                {%else%}


                                                        {% if user.date_joined|length > 3 %}
                                                        {{user.first_name}} es parte de Biken desde el

                                                        {% else %}

                                                        {{user.first_name}} es parte de Biken desde el
                                                        {% endif %}

                                                
                                                {%endif%}
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800 colortextdate-card">
                                                {{user.date_joined|naturalday}}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar-alt fa-3x iconos-admin"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        {% for b in miBici %}
        <div class="col-lg-3 mt-3">
            <div class="card">
                <a>
                    <img class="card-img-top placeholderimgup imgcat" src="{% static 'img/gifs/loading.gif' %}"
                        alt="Card image cap">
                    <img class="card-img-top imgcat placeholderimgdown" src="{{b.foto.url}}" alt="Card image cap"></a>
                <div class="card-body">

                    {% if request.user.username == user.username %}

                    {% else %}
                    <p class="card-text title font-weight-bold">
                        <img src="{{b.user.perfil.get_image}}" alt="" class="imgperfil_post">
                        <a href="{% url 'perfil' b.user.username %}">{%if b.user.first_name == '' %}
                            {{ b.user.username}}
                            {%else%}
                            {{ b.user.first_name}}
                            {%endif%}
                        </a>
                    </p>
                    {% endif %}
                    <p class="card-text textcategoriacard text-capitalize font-weight-bold">{{b.categoria}}</p>
                    <p class="card-text texttiempocard">{{b.timestamp|naturaltime}}</p>
                    <p class="card-text textpreciocard">Alquiler <strong>${{b.precioalquiler}}</strong></p>
                    {% if request.user.username == user.username %}
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="{% url 'editar_bicicleta' b.idmibicicleta %}">
                                <button class="btn btncat d-block mx-auto "><i class="far fa-edit"></i>
                                </button>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a href="{% url 'eliminar_bicicleta' b.idmibicicleta %}">
                                <button class="btn btn-danger d-block mx-auto "><i class="far fa-trash-alt"></i>
                                </button>
                            </a>
                        </div>
                    </div>

                    {% else %}
                    <a href="#">
                        <button class="btn btncatalogo d-block mx-auto "><i class="far fa-heart"></i>
                            Añadir a favoritas
                        </button>
                    </a>


                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}